[submodule "bundle/bundle/ctrlp.vim"]
	path = bundle/bundle/ctrlp.vim
        url = https://github.com/kien/ctrlp.vim.git
        ignore = dirty
[submodule "/home/fayez/.vim/bundle/Vundle.vim"]
	path = /home/fayez/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
